.side-nav{
	ul{
		display: block;
		list-style: none;
		border-bottom: 1px solid #eee; 
		li{
			display:block;
			position: relative;
			left: -20px;
			margin-bottom: 10px;
			a{
				display:block;
				border-radius: 4px;
				width: 100%;
				padding: 3px;
				&:hover{
					color:#259;
					background-color:rgba(225,225,225,.5);
				}
			}
		}
	}
	
}